body {
 background-color: #8585ad;
}


a {
 color: #991f52;
 font-size: 20px;
  }

h1 {
  color:#991f52;
  font-size: 50px;
  }
footer {
 background-color: #81817f;
}

p {
 font-size: 20px;
 }